*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family:"poppins";
    
}

body{
    background: white;
    /* background: rgb(133, 133, 133); */
    color: rgb(46, 46, 46);
    overflow:hidden;
    overflow-y: scroll;
} 
