.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 10rem;
}
.desktopMenuListItem{
    /* color: rgb(73, 73, 73); */
    color: rgb(125, 124, 124);
    margin: 1.4rem;
    cursor: pointer;  
    font-size: 1.2rem;
}
.desktopMenuListItem:hover{
    /* color: yellow; */
    color: rgb(0, 0, 0);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
    transition-duration: 0.3s;
}
.desktopMenuButton{
/* background: rgb(198, 200, 203); */
background:transparent;
color: rgb(125, 124, 124);
border: none;
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
border-radius: 2rem;
font-size: 1rem;
}
.desktopMenuButton:hover{
    transition-duration: 0.3s;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin:1rem;
}
.active{
    color: rgb(55, 55, 54);
    /* border-bottom: 1px solid rgb(55, 55, 54); */
}
.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background:rgb(40,40,40);
    border-radius: 1rem;
}
.ListItem{
    color: white;
    padding: 0.5rem 3rem;
    margin:0.25rem;
    background: rgb(30,30,30);
}
.ListItem:hover{
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
    transition-duration: 0.3s;
    cursor: pointer;
}

@media screen and (max-width:720px){
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuButton{
        display: none;
    }

}